// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

input {
    keyboard {
        xkb {
            layout "cz"
            variant "coder"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    tablet {
        map-to-output "eDP-1"
    }
}

output "eDP-1" {
    variable-refresh-rate
    mode "2880x1800@120.000"
    scale 1.5
    transform "normal"
    position x=0 y=0
}
output "LG Electronics LG ULTRAFINE 312NTZNBQ917" {
    mode "3840x2160@120.00"
    scale 1.25
    position x=-3072 y=0
}
output "PNP(AOC) Q32G1WG4 0x00000203" {
    mode "2560x1440@119.998"
    scale 1.0
    position x=1920 y=-560
}

switch-events {
    lid-close { spawn "lid-close.sh"; }
}

layout {
    gaps 8
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        width 1
        active-color "#ffa500"
        inactive-color "#505050"
    }
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

prefer-no-csd
screenshot-path null

spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "gammastep"
spawn-at-startup "swaybg" "-i" ".dotfiles/.wallpapers/wallhaven-2ero7g.jpg"
spawn-at-startup "waybar"
spawn-at-startup "foot" "--server"
spawn-at-startup "battery-check.sh"

environment {
    DISPLAY ":0"
}

cursor {
    xcursor-theme "capitaine-cursors-light"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

animations {}

window-rule {
    match app-id="cs2"
    open-maximized true
    open-fullscreen true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+O { toggle-overview; }

    Super+Alt+L { spawn "hyprlock"; }
    Mod+Return { spawn "footclient"; }
    Mod+Space { spawn "rofi" "-disable-history" "-show" "run"; }
    Mod+V { spawn "sh" "-c" "cliphist list | rofi -dmenu -display-columns 2 | cliphist decode | wl-copy"; }
    Mod+B { spawn "rofi-rbw"; }
    Mod+W { spawn "brave"; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    XF86AudioPlay { spawn "playerctl" "play-pause"; }

    XF86MonBrightnessUp   { spawn "brightnessctl" "s" "+1%"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "s" "1%-"; }

    Mod+Q { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Alt+H { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+J { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+K { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+L { move-workspace-to-monitor-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown        cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp          cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown  cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp    cooldown-ms=150 { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+Shift+F { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Alt+Minus { set-column-width "-1%"; }
    Mod+Alt+Equal { set-column-width "+1%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
}
